<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>CodeConnect</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="static/style.css">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
</style>
<script src=""></script>
<body>

    <div id = "topnav">
        <img src="static\logo.png">
        <div id="menus">
            <a href="aboutus" class="nav-item">About us</a>
            <a href="howitworks" class="nav-item">How it Works</a>
            <a href="results" class="nav-item">Get Started</a>
            <a href="dataset" class="nav-item">Dataset</a>
        </div>
        <img id='contact' src="static\Nav-button.png">
    </div>
    <img id="header" src="static\Header-Text.png">

    <img id="planet" src="static\planet.png">
    <button id="start_button">Let's get started</button>
    <img src="static\devices.png" id="devices">
</body>
</html>